// Imports
@import "../base/fonts";
@import "../base/colors";

.titleParagraph {
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $main;
		@apply py-4 text-green-dark text-2xl;

		strong {
			font-family: $main;
		}
	}

	ol,
	ul {
		li {
			list-style: disc;
			@apply py-1;

			h2,
			h3,
			h4,
			h5,
			h6 {
				font-family: $main;
				@apply py-2 text-green-dark text-2xl;

				strong {
					font-family: $main;
				}
			}
		}
	}
}
