// Colours Variables
$baseColor_white: #fff;
$baseColor_black: #111;
$baseColor_grey: #b3b3b3;
$baseColor_darkGrey: #8f8f8f;
$baseColor_lightGrey: #f5f5f5;
$baseColor_lightBlack: #292929;

// Main Colours
$blue: #2563eb;
$green: #00946a;
$greenTwo: #003f2d;
$darkBlue: #0d172a;
$flatGreen: #538184;
$darkGreen: #012a2d;
$brightGreen: #00c68e;
$flatGreyGreen: #435254;
